# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/docs

# dependencies
**/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.scannerwork


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

**/.env
**/.env.*
!**/.env.example
.env.test
.docker/
*.js.map
# Serverless
.serverless
.webpack
.entry_point.lock

# Terraform
/deployment/**/.terraform/*
/deployment/**/*.tfstate
/deployment/**/*.tfstate.*
/deployment/**/crash.log
/deployment/**/crash.*.log
/deployment/**/*.tfvars
/deployment/**/override.tf
/deployment/**/override.tf.json
/deployment/**/*_override.tf
/deployment/**/*_override.tf.json
/deployment/**/.terraformrc
/deployment/**/terraform.rc
/deployment/**/*.pem
/deployment/**/*_key
/deployment/**/credentials.json

**/*.pem

.gitlab-ci-local

.vscode

**/.yarn-cache/**/*
!.yarn-cache/.gitkeep

**/.ts-node/
**/temp/**/*

.profile/
.tmp/
*.log
reports/*.xml
